.navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 20px 27px;

  li {
    margin-right: 30px;
    list-style: none;
    a {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: #333;
      padding: 10px 5px;
      letter-spacing: 0.05em;

      &:hover {
        color: #d85944;
      }

      &.active {
        color: #d85944;
      }
    }
  }
}
